.button1 {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-margin: 10 25 10 0;
}

.button1:hover {
    -fx-background-color: #66BB6A;
}

.button2 {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-margin: 10 25 10 0;
}

.button2:hover {
    -fx-background-color: #42A5F5;
}

.button3 {
    -fx-background-color: #FF9800;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-margin: 10 25 10 0;
}

.button3:hover {
    -fx-background-color: #FFA726;
}

.button4 {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-margin: 10 25 10 0;
}

.button4:hover {
    -fx-background-color: #EF5350;
}

.button5 {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-margin: 10 25 10 0;
}

.button5:hover {
    -fx-background-color: #66BB6A;
}

.button6 {
    -fx-background-color: #673AB7;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-margin: 10 25 10 0;
}

.button6:hover {
    -fx-background-color: #5E35B1;
}

.lockButton {
    -fx-background-color: #2f332f;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-margin: 10 25 10 0;
}

.lockButton:hover {
    -fx-background-color: #2f332f;
}
.extraStyleButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-margin: 10 25 10 0;
}

.extraStyleButton:hover {
    -fx-background-color: #66BB6A;
}

#borderPaneUser {
    -fx-background-image: url('img/green-abstract-geometric-shape-background-free-vector.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.surveysShortInfo {
    -fx-background-image: url('img/b5d2f0194126b9479680384e52bcd294.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.surveyTitle {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
.list-view {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 12 12;
}

.list-view .list-cell:even {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12 12 12 12;

}

.list-view .list-cell:odd {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12 12 12 12;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: #4141ff;
}

.list-view .list-cell:hover {
    -fx-background-color: #d0d0d0;
}